---
import ThemeToggle from "./ThemeToggle.astro"
import { LINKS } from "@consts";
---
<header id="topbar" class="w-full fixed backdrop-blur-md shadow-md z-10 top-0 h-16 px-4 md:px-8">
	<nav class="h-full flex justify-between items-center">
      <a href="/" class="flex items-center mx-2 md:mx-0">
        <img class="w-4 md:w-6" src="/my-logo.png" alt="my-logo">
        <span class="mx-2 text-lg md:text-xl">
          江森的前端研究室
        </span>
      </a>
		<!-- Desktop Navigation -->
		<div class="hidden text-base h-full md:w-1/3 md:flex md:justify-between md:items-center">
      {LINKS.map((LINK) => (
        <a href={LINK.HREF} data-path={LINK.HREF} class="nav-link py-4 hover:border-b-4 hover:border-b-sky-300">{LINK.TEXT}</a>
      ))}
		</div>
		
		<div class="flex gap-4 items-center">
      <ThemeToggle />
      <a href="https://github.com/Latseng" target="_blank" class="hover:bg-gray-100 dark:hover:bg-gray-800 transition-all duration-300 p-2 rounded-full hidden md:block">
				<svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
    <!-- Mobile Menu Button -->
     <button 
      id="menu-button"
      class="md:hidden rounded-lg p-1 hover:bg-gray-100 dark:hover:bg-gray-800 "
      aria-label="Open menu"
      >
			<!-- Menu Icon -->
         <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
           <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
         </svg>
				 <!-- Close Icon -->
				 <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hidden">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
     </button>
		</div>
	</nav>
	
</header>

<!-- Mobile Sidebar -->
			<div id="sidebar" class="fixed top-16 right-2 z-50 backdrop-blur-md border  bg-white rounded-lg dark:bg-black hidden shadow-xl">
        <nav class="flex flex-col p-4 gap-4">
          {LINKS.map((LINK) => (
          <a href={LINK.HREF} data-path={LINK.HREF} class="mx-auto p-4 text-sm hover:text-sky-500">{LINK.TEXT}</a>
        ))}
        <a class="mx-auto hover:text-sky-500" href="https://github.com/Latseng" target="_blank">
				<svg viewBox="0 0 16 16" aria-hidden="true" width="24" height="24"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
        </nav>
			</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.querySelector<HTMLButtonElement>('#menu-button') 
    const menuIcon = document.querySelector<HTMLOrSVGImageElement>('#menu-icon') 
    const closeIcon = document.querySelector<HTMLOrSVGImageElement>('#close-icon')
    const sidebar = document.querySelector<HTMLDivElement>('#sidebar')
		const navLinks = document.querySelectorAll('.nav-link')
    const currentPath = window.location.pathname;

    let isSidebarOpen = false;

    // Sidebar 開關
    const toggleSidebar = () => {
      isSidebarOpen = !isSidebarOpen;
      sidebar?.classList.toggle('hidden');
      menuIcon?.classList.toggle('hidden', isSidebarOpen);
      closeIcon?.classList.toggle('hidden', !isSidebarOpen);
      menuButton?.setAttribute('aria-label', isSidebarOpen ? 'Close menu' : 'Open menu');
    };

    // 按下按鈕切換 Sidebar
    menuButton?.addEventListener('click', toggleSidebar);

    // 點擊 Sidebar 外的區塊，會關閉Sidebar
    window.addEventListener('click', (event) => {
			const target = event.target as Node; 
      if (isSidebarOpen && !sidebar?.contains(target) && !menuButton?.contains(target)) {
        toggleSidebar();
      }
    });

		// 高亮當前路由導航標籤
		function toggleHighlight(link: HTMLElement, isActive: boolean) {
    if (isActive) {
      link.classList.add('border-b-4', 'border-b-sky-300', 'font-bold');
    } else {
      link.classList.remove('border-b-2', 'border-b-sky-300', 'font-bold');
    }
  }

	navLinks.forEach((link) => {
    const navLink = link as HTMLElement
    const linkPath = navLink.dataset.path || ""
    const isActive = linkPath === '/' ? currentPath === '/' : currentPath.startsWith(linkPath);
    toggleHighlight(navLink, isActive);
  });

  });

  function headerOnScroll() {
  const topbar = document.getElementById("topbar")
  
  if (topbar) { 
  if (window.scrollY > 0) {
    
    topbar.classList.add("border-b");
    topbar.classList.add("dark:border-gray-500");
    topbar.classList.add("shadow-md");
  } else {
    
    topbar.classList.remove("border-b");
    topbar.classList.remove("darK:border-gray-500");
    topbar.classList.remove("shadow-md");
  }
}
}

document.addEventListener("scroll", headerOnScroll)
</script>