---
import path from "path";
import { Image } from "astro:assets";
import { CldImage } from "astro-cloudinary";
import { url } from "../utils/url-utils";

interface Props {
  id?: string;
  src: string;
  class?: string;
  alt?: string;
  position?: string;
  basePath?: string;
}

const { id, src, alt, position = "center", basePath = "/" } = Astro.props;
const className = Astro.props.class;

const isExternalOrPublic =
  src.startsWith("/") ||
  src.startsWith("http") ||
  src.startsWith("https") ||
  src.startsWith("data:");

const imageClass = "w-full h-full object-cover";
const imageStyle = `object-position: ${position}`;

let localImg = null;
let isCloudinary = false;

if (!isExternalOrPublic) {
  const files = import.meta.glob<ImageMetadata>("../../**", {
    import: "default",
  });

  let normalizedPath = path
    .normalize(path.join("../../", basePath, src))
    .replace(/\\/g, "/");

  const file = files[normalizedPath];

  if (file) {
    // 找得到檔案 -> 它是本地圖片
    localImg = await file();
  } else {
    // 找不到檔案 -> 假設它是 Cloudinary ID

    isCloudinary = true;

    console.log(`Image not found locally, treating as Cloudinary: ${src}`);
  }
}
---

<div id={id} class:list={[className, "overflow-hidden relative"]}>
  <div
    class="transition absolute inset-0 dark:bg-black/10 bg-opacity-50 pointer-events-none"
  >
  </div>

  {
    localImg && (
      <Image
        src={localImg}
        alt={alt || ""}
        class={imageClass}
        style={imageStyle}
      />
    )
  }

  {
    isCloudinary && (
      <CldImage
        src={src}
        alt={alt || ""}
        class={imageClass}
        width={800}
        height={450}
        crop={{ type: "fill", source: true }}
        format="auto"
        quality="auto"
      />
    )
  }

  {
    isExternalOrPublic && (
      <img
        src={src.startsWith("/") ? url(src) : src}
        alt={alt || ""}
        class={imageClass}
        style={imageStyle}
      />
    )
  }
</div>
