---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article class="prose dark:prose-invert lg:prose-xl mt-24 mx-auto">
      <h1>{frontmatter.title}</h1>
      <p class="text-center"><em>{frontmatter.description}</em></p>
      <div class="text-center">
         <span class="mx-2 text-gray-400 text-sm">{frontmatter.pubDate.toLocaleDateString()}</span>
         <span class="mx-2 text-base">{frontmatter.author}</span>
      </div>
      <img class="mx-auto w-5/6" src={frontmatter.image.url} alt={frontmatter.image.alt} />
      <div class="flex justify-center">
      {frontmatter.tags.map((tag: string) => (
        <p class="flex items-center p-2 text-sm bg-slate-50 border border-gray-300 rounded-md mx-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 mr-2 text-sky-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
</svg>
          <a class="text-sky-600" href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))}
      </div>
      <hr />
      <div>
        <slot />
      </div>
    </article>
</BaseLayout>
