---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article>
      <h1 class="text-center">{frontmatter.title}</h1>
      <div class="flex flex-wrap justify-center">
      {frontmatter.tags.map((tag: string) => (
        <p class="tag p-2 bg-slate-50 border border-dotted border-gray-400 rounded-md mx-2"><a class="text-blue-800" href={`/tags/${tag}`}>{tag}</a></p>
      ))}
      </div>
      <p class="text-center text-lg"><em>{frontmatter.description}</em></p>
      <div class="my-2 text-center">
         <span class="mx-2 text-gray-400 text-sm">{frontmatter.pubDate.toLocaleDateString()}</span>
         <span class="mx-2 text-base">{frontmatter.author}</span>
      </div>
      <img class="mx-auto" src={frontmatter.image.url} width="640" alt={frontmatter.image.alt} />
      <div class="my-4 p-8">
        <slot />
      </div>
    </article>
</BaseLayout>
